@import url('https://fonts.googleapis.com/css2?family=Signika:wght@700&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 10000;
  background:#010818 !important;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.loader{ 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    text-transform: uppercase;
    font-family: 'Signika', sans-serif;  
}

.loader h1{
  font-size: 60px;
  letter-spacing: 2px;
}
.loader h2{
  font-size: 40px;
  letter-spacing: 2px;
}

.buttons{
  display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn-1 a{
  text-decoration: none;
  border: 2px solid red;
  padding: 15px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  top: 50%;
  display: inline-block;
    width: 15vw;
}
span {
  position: relative;
  /* z-index coz when we put bg to before and after this span text will not be visible */
  z-index: 100;
}

/* Button 1 styles */

.btn-1 a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  /*100% plus double the times left values*/
  height: calc(100% - 10px);
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}

.btn-1 a:hover::before {
  transform: scaleY(0);
}

.btn-1 a::after {
  content: "";
  position: absolute;
  left: 5px;
  top: -5px;
  width: calc(100% - 10px);
  /*100% plus double the times left values*/
  height: calc(100% + 10px);
  background-color:#fff;
  transition: all 0.5s ease-in-out;
  transform: scaleX(1);
}

.btn-1 a:hover::after{
  transform: scaleX(0);
}
.navbar-brand{
  color: #fff;
  letter-spacing: 2px !important;
  margin-top: -15px;
  margin-bottom:20px;
}


.register-HL{
    display: flex;
    background: rgb(251 251 251);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    right: 25%;
    top: 110%;
}
.register-head{
    margin-top: 0%;
    color: black;
    font-family: 'Signika', sans-serif;   
    letter-spacing: 5px;
    font-size: 40px;
}
.register-m{
    height: 180vh !important;
    justify-content: flex-start !important;

}
.RH{
    letter-spacing: 3px !important;
}


.box{
  width: 300px;
  padding: 10px 20px 0;
  /* position: absolute;
  top: 50%;
  left: 75%; */
  /* transform: translate(-50%,-50%); */
  text-align: center;
  /* border: 3px solid #000514; */
  border-radius: 20px 20px;
  /* box-shadow: 2px 2px 2px #d43e4e; */
  transition: 5s all;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"],.box input[type = "number"],.box input[type = "date"]{
  border:0;
  background: none;
  display: block;
  margin: 25px auto;
  text-align: center;
  border-bottom: 3px solid rgb(255, 0, 0);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color:black;
  border-radius: 24px;
  transition: 0.5s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus,.box input[type = "number"]:focus,.box input[type = "date"]:focus{
  border-color: #A04000;
  width: 250px;
}
.box input[type = "text"]:hover,.box input[type = "password"]:hover,.box input[type = "email"]:hover,.box input[type = "number"]:hover,.box input[type = "date"]:hover{
  border-color: #A04000;
}
.box input[type = "submit"],.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  margin-top: 40px;
  text-align: center;
  border: 2px solid #d40d0d;
  padding: 14px 40px;
  outline: none;
  color: black;
  transition: 0.5s;
  cursor: pointer;
}
.box input[type = "submit"]:focus,.box input[type = "button"]:focus{
  /* border-color: #D4AC0D; */
}
.box input[type = "submit"]:hover,.box input[type = "button"]:hover{

  border-radius: 24px;
}
.DS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 230%;
    right: 30%;
}
#sample-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 130%;
    right: 30%;
}
.content-wrapper {
    margin-left: 240px;
    margin-top: 65px;
    transition: .5s;
}

.content-wrapper.hide {
    margin-left: 0;
}

.top-chart-earn {
    border-radius: 5px;
    padding-top: 15px;
    box-shadow: -2px 3px 13px 0px #ddd6;
}

.last-month {
    line-height: 20px;
    text-align: center;
}

.last-month h5 {
    font-size: 20px;
    font-weight: 600;
}

.last-month p {
    font-size: 12px;
    color: #777;
}

.earn {
    margin: 12px 0;
}

.earn h2 {
    font-size: 26px;
    font-weight: 600;
}

.sale h2 {
    font-size: 25px;
    font-weight: 600;
}

.chart-nav.active {
    background-color: #fff !important;
    color: var(--main-color) !important;
    border-bottom: 2px solid var(--main-color);
    border-radius: 0;
}

.chart-nav {
    color: var(--second-color);
}

.chart-nav:hover {
    color: var(--main-color);
}

.chart-nav {
    padding: 0px 15px;
    border-radius: 0;
}

.chart-header-tab {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}


/* ============top-section chart bottom row style======== */


.bdr-cls {
    border-right: 1px solid #dddddd6b;
}

.wre-sec {
    overflow: hidden;
    border-top: 1px solid #dddddd6b;
}

.earn-view {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.earn-icon {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 3px;
    line-height: 20px;
    font-size: 16px;
    color: var(--white-color);
}

.wallet {
    background: var(--main-color);
}

.referral {
    background: #7d12ce;
}

.sales {
    background: #0ea3d0;
}

.earning {
    background: #fbbf15;
}

.traffice-title {
    text-align: left;
    font-size: 17px;
    font-weight: 500;
    padding-left: 15px;
}


/* =====================traffice chart style============= */


div#chart-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* =============small chart style=================== */


.revinue.revinue-one_hybrid {
    background: linear-gradient(121deg, rgba(194, 13, 90, 1)25%, rgb(162 101 182)100%);
}

.revinue {
    padding-top: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.w-title {
    display: flex;
    padding: 0 7px 10px;
    align-items: center;
}

.w-icon {
    font-size: 28px;
    color: white;
    padding-right: 10px;
}

.sm-chart-text {
    line-height: 20px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

w-value {
    text-align: center;
    font-size: 30px;
}


/* page view chart */


.page-one_hybrid {
    background: linear-gradient(121deg, rgb(92 26 195)25%, rgb(136 25 206 / 95%)100%);
}


/* =========bonus rate chart design======== */


.bonuce-one_hybrid {
    background: linear-gradient(121deg, rgb(26 179 195)25%, rgb(25 97 206 / 95%)100%);
}


/* =============revinue status chart design========== */


.rv-status-one_hybrid {
    background: linear-gradient(121deg, rgb(232 202 53)25%, rgb(206 125 25 / 95%)100%);
}


/* =====================admin card style start================ */


.admin-list {
    padding: 10px;
    border-radius: 5px;
    background: var(--white-color);
    box-shadow: -2px 3px 13px 0px #ddd6;
}

img.admin-image {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

p.admin-ac-title {
    font-size: 15px;
    font-weight: 500;
    padding: 0 5px;
    display: inline-block;
    border-bottom: 2px solid var(--main-color);
    line-height: 1.5;
    margin-bottom: 13px;
}

li.admin-li {
    display: flex;
    align-items: center;
    margin: 3px 0;
    padding: 10px;
}

.admin-ac-details {
    padding-left: 10px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.admin-name {
    font-size: 15px;
    font-weight: 500;
    color: var(--second-color);
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.admin-name:hover {
    color: var(--main-color);
}

p.activaty-text {
    font-size: 11px;
    color: #989898;
}

.status {
    text-align: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

