{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}" />


    <title>Blood Bank</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/css/mdb.min.css"
        integrity="sha512-hj9rznBPdFg9A4fACbJcp4ttzdinMDtPrtZ3gBD11DiY3O1xJfn0r1U5so/J0zwfGOzq9teIaH5rFmjFAFw8SA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/bb_style.css' %}">
</head>

<body>
    <!--Main Navigation-->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">
                    <!-- Brand -->
                    <a class="navbar-brand" href="#">
                        HOSPITAL
                    </a>
                    <a href="{% url 'hindex' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main Dashboard</span>

                    </a>
                    <a href="{% url 'requestsample' %}" class="list-group-item list-group-item-action py-2 ripple active" aria-current="true">
                        <i class="fab fa-wpforms fa-fw me-3"></i><span>Request Sample</span>
                    </a>

                    <a href="{% url 'orderedsample' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-syringe fa-fw me-3"></i><span>Ordered Samples</span>
                    </a>
                    <a href="{% url 'home' %}" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                        <i class="fas fa-sign-out-alt fa-fw me-3"></i><span>Logout</span>
                    </a>

                    
                </div>
            </div>
        </nav>
        <!-- Sidebar -->

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>


                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row">
                    <!-- Notification dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link  hidden-arrow d-flex align-items-center" href="#"
                            id="navbarDropdownMenuLink" aria-expanded="false">
                            {{ id }}
                        </a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#"
                            id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user-circle"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Name: {{ name }}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Licence Number: {{ licence }}</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Email: {{ email }}</a>
                            </li>
{#                            <li>#}
{#                                <a class="dropdown-item" href="#">Address: {{ address }} </a>#}
{#                            </li>#}

                        </ul>
                    </li>
                    <!-- Avatar -->

                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->

    <!--Main layout-->
    <main style="margin-top: 58px; height: 100vh;">
        <div class="container">
            <section>
                <div id="reqSample" class="register-HL" style="margin-top:10%;margin-bottom:-20%;">
                    <h1 class="register-head">REQUEST SAMPLE</h1>
                    <form class="box" action="{% url 'sampleList' %}" method="post">
                        {% csrf_token %}
                        <label for="blood">Blood Type</label><br><br>
                        <select name="blood" id="blood">
                            <option value="O+">O +</option>
                            <option value="O-">O -</option>
                            <option value="A+" selected>A +</option>
                            <option value="A-">A -</option>
                            <option value="B+">B +</option>
                            <option value="B-">B -</option>
                            <option value="AB+">AB +</option>
                            <option value="AB-">AB -</option>
                        </select>
                        <br>
                        <button type="submit" value="SUBMIT" style="height:25px;font-size:15px;text-align: center;">
                            Search
                        </button>

                    </form>
                </div>

                <div id="sample-table">
                   <div class="table-container">
                    <h1 class="register-head" style="text-align: center; margin-top: 0;">AVAILABLE BLOOD SAMPLES</h1>
                    <table class="table table-dark table1" >
                        <thead>
                            <th> Blood Bank </th>
                            <th> Location </th>
                            <th> Sample </th>
                            <th> Blood Type </th>
                            <th> State </th>
                            <th> Request </th>
                        </thead>
                        <tbody>
                        {% for sample in request.session.samples %}
                        <form action="{% url 'orderBloodSample' %}" method="POST">
                            {% csrf_token %}
                            <tr class="table-active" style="vertical-align: baseline;">
                                <td>{{ sample.bb_id }}</td>
                                <td>{{ sample.bb_address }}</td>
                                <td>{{ sample.blood_id }}</td>
                                <td>{{ sample.blood_type }}</td>
                                <td>{{ sample.state }}</td>
                                <input type="hidden" name="blood_id" value="{{ sample.blood_id }}">
                                <input type="hidden" name="h_id" value="{{ request.session.hosp_id }}">
                                <td><button type="submit" class="btn btn-light" style="font-size: 12px;padding: 5px;"> Request </button></td>
                            </tr>
                        </form>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
                <!-- <div id="requestedSamples" class="register-HL DS">
                    <h1 class="register-head">Requested Samples</h1>
                    <table class="table table-dark table1" >
                        <thead>
                            <th> Blood Bank </th>
                            <th> Sample </th>
                            <th> Agreement ID </th>
                            <th> View </th>
                        </thead>
                        <tbody>
                        {% for a in agreements %}
                        <form action="{% url 'viewagreement' %}" method="POST">
                            {% csrf_token %}
                            <tr class="table-active" style="vertical-align: baseline;">
                                <td>{{ a.bb_id }}</td>
                                <td>{{ a.b_id }}</td>
                                <td>{{ a.a_id }}</td>
                                <input type="hidden" name="agreement_data" value="{{ a }}">
                                <input type="hidden" name="h_id" value="{{ request.session.hosp_id }}">
                                <td><button type="submit" class="btn btn-light" style="font-size: 12px;padding: 5px;"> View </button></td>
                            </tr>
                        </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div> -->
            </section>
        </div>
    </main>

    <!--Main layout-->

    <!--Main layout-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.20.0/js/mdb.min.js"
        integrity="sha512-XFd1m0eHgU1F05yOmuzEklFHtiacLVbtdBufAyZwFR0zfcq7vc6iJuxerGPyVFOXlPGgM8Uhem9gwzMI8SJ5uw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'js/bb_custom.js' %}"></script>
</body>

</html>